In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split

## 1. Sample

In [2]:
file_path = '/home/tomas/Documentos/DataSet/trabalho-apc-asn/yochi_base.xlsx'

df = pd.read_excel(file_path)


display(df)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [3]:
y = df['BAD']
X = df.drop(axis=1, labels='BAD')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=59)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=59)

In [4]:
print(f'X de treino: {X_train.shape}')
print(f'y de treino: {y_train.shape}')
print()

print(f'X de teste: {X_test.shape}')
print(f'y de teste: {y_test.shape}')
print()

print(f'X de validação: {X_val.shape}')
print(f'y de validação: {y_val.shape}')

X de treino: (3576, 12)
y de treino: (3576,)

X de teste: (1192, 12)
y de teste: (1192,)

X de validação: (1192, 12)
y de validação: (1192,)

In [5]:
file_path_1 = '/home/tomas/Documentos/gh-repos/Trabalho-APC-ASN/X_train.csv'
X_train.to_csv(file_path_1, index_label=False)

file_path_2 = '/home/tomas/Documentos/gh-repos/Trabalho-APC-ASN/y_train.csv'
y_train.to_csv(file_path_2, index_label=False)

file_path_3 ='/home/tomas/Documentos/gh-repos/Trabalho-APC-ASN/X_val.csv'
X_val.to_csv(file_path_3, index_label=False)

file_path_4 = '/home/tomas/Documentos/gh-repos/Trabalho-APC-ASN/y_val.csv'
y_val.to_csv(file_path_4, index_label=False)

file_path_5 = '/home/tomas/Documentos/gh-repos/Trabalho-APC-ASN/X_test.csv'
X_test.to_csv(file_path_5, index_label=False)

file_path_6 = '/home/tomas/Documentos/gh-repos/Trabalho-APC-ASN/y_test.csv'
y_test.to_csv(file_path_6, index_label=False)